---

extends: default

ignore: |
  .venv
  .git
  my-ansible.code-workspace

yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  truthy:
    allowed-values: ['true', 'false']
    check-keys: true
